<% console.log(products[1].media) %>
<div class = "findgifts">
  <div class = "limiter">
    <div class="sectionheader">
      <span id="findGifts" class= "section">
        <h1 class="h1-pa4">Find Gifts <small class="small-2"><br>Things To Make Her :-)<br></small>
        </span>
      </h1>
    </div>
    <div class = "products">
    <% products.forEach(function(product){ %> 
    <% if(typeof product.media[0] != "undefined") path = "http://"+product.media[0].path
    else{path=""} %>
    <div class="giftbox">
      <h2 class="gifttitle"><%= product.name %></h2>
      <img class="giftimage" src= "<%= path %>" />
      <div class="description"><%= product.desc %></div>
      <div class="ratingsbox">
        <h2 class="ratingsheading">Did she like it?</h2>
        <i class="icon icon-thumbs-up icon-2"></i>
        <p class="ratingnumber">27</p>
        <i class="icon icon-thumbs-down icon-1"></i>
        <p class="ratingnumber">2</p>      
        <div class="price"><%= "$"+ product.price.base %></div>
      </div>
      <a href = "<%= product.links.affiliate %>" target="_blank">
      <button class="flat-ok-button">
        <h3 class="buynow">Buy Now<h3>
        </button>
      </a>
      </div>
      <%  }) %>
    </div>
  </div>
  </div>
